.profile_container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.profile_back_container {
  transition: all 0.25s;
  cursor: pointer;
  background-color: var(--gray-100);
  border-right: 1px solid var(--gray-200);
  display: flex;
  align-items: center;
  padding: 10px;

  &:hover {
    background-color: var(--gray-200);
  }
}

.profile_content_container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.profile_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
}

.profile_avatar_container {
  cursor: pointer;
  width: 120px;
  height: 120px;
  position: relative;
  & > .avatar_backdrop {
    transition: all 0.25s;
    position: absolute;
    border-radius: 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    font-size: 14px;
  }
  &:hover .avatar_backdrop {
    opacity: 1;
  }
}

.profile_avatar {
  width: 120px;
  height: 120px;
  border-radius: 120px;
}

.profile_name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 30px;
}

.profile_data {
  width: 100%;
}

.profile_controllers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}
